<ion-header>
  <ion-header>
    <app-rapm-header [pageTitle]='pageTitle'></app-rapm-header>
  </ion-header>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Users</ion-card-subtitle>
          <ion-card-title>64</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          User Information
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Applications</ion-card-subtitle>
          <ion-card-title>32</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Application Information
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Modules</ion-card-subtitle>
          <ion-card-title>110</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Modules Information
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Packages</ion-card-subtitle>
          <ion-card-title>50</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Packages Information
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-content>